[Unit]
Description=fty-alert-srr daemon
After=fty-srr.service
Requires=fty-srr.service
PartOf=bios.target

# Restart if srr is restarted
BindsTo=fty-srr.service
PartOf=fty-srr.service

[Service]
Type=simple
User=bios
Restart=always
ExecStart=/usr/bin/fty-alert-srr

[Install]
WantedBy=bios.target
