[Unit]
Description=fty-alert-srr daemon
After=fty-alert-engine.service fty-alert-flexible.service fty-alert-list.service fty-alert-stats.service fty-srr.service
Requires=fty-srr.service
PartOf=bios.target

[Service]
Type=simple
User=bios
Restart=always
ExecStart=/usr/bin/fty-alert-srr

[Install]
WantedBy=bios.target
